/* img {
  max-width: 200px;
} */
.image {
  display: flex;
  padding: 30px;
  padding-left: 50px;
  /* background-color: grey; */
  justify-content: center;
}
.myTable {
  text-align: center;
}
.image2 {
  padding: 20px;
}
body {
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.5;
  text-align: justify;
  background-color: rgb(84, 145, 153);
}
.city {
  flex-wrap: wrap;
  padding: 10px;
  margin-bottom: 15em;
}

.paris {
  float: left;
}

.paragraph {
  padding: 10px;
}
h1,
h2 {
  font-size: 34px;
  color: #1089ad;
}
.subheading {
  justify-content: center;
}
table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
  width: 800px;
  padding: 10px;
}
.content {
  justify-items: center;
  /* width: 90%; */
}
h3 {
  text-align: center;
}
/* .container {
  display: flex;
} */
/* .imageBox {
  float: left;
} */
.column1 {
  flex-wrap: wrap;
  margin-right: 1em;
  /* padding: 20px; */
  height: 30%;
}
.column2 {
  flex-wrap: wrap;
  /* padding: 20px; */
  height: 30%;
}
.column3 {
  flex-wrap: wrap;
  height: 30%;

  margin-right: 1em;
}
.container {
  display: flex;
  /* background-color: grey; */
}
.imageBox {
  padding: 20px;
}
#paris {
  max-width: 600px;
  height: 300px;
}
h1,
h2,
h3 {
  color: rgb(15, 14, 15);
  font-style: italic;
  text-transform: uppercase;
  text-decoration: underline;
}
h1 {
  text-decoration: none;
}
.content {
  max-width: 1600px;
  margin: auto;
}
footer {
  padding: 20px;
}

@media (max-width: 638px) {
  .container {
    flex-direction: column;
  }
  .column1 {
    flex-direction: column;
  }
  .column2 {
    flex-direction: column;
  }
  .column3 {
    flex-direction: column;
  }
  .city,
  .image {
    flex-direction: column;
  }
}
