.image {
  display: flex;
  padding: 30px;
  padding-left: 50px;
  justify-content: center;
}
.myTable {
  text-align: center;
}
.image2 {
  padding: 20px;
}
body {
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.5;
  text-align: justify;
  background-color: rgb(84, 145, 153);
}
.city {
  display: flex;
  padding: 10px;
}

.paragraph {
  padding: 10px;
}
h1,
h2 {
  font-size: 34px;
  color: #1089ad;
}
.subheading {
  justify-content: center;
}
table,
td,
th {
  border: 2px solid black;
  border-collapse: collapse;
  width: 800px;
  padding: 10px;
}
h3 {
  text-align: center;
}
.container {
  display: flex;
}

.column1 {
  flex-wrap: wrap;
  margin-right: 1em;
  padding: 20px;
}
.column2 {
  flex-wrap: wrap;
  padding: 20px;
}
.column3 {
  flex-wrap: wrap;
  padding: 20px;
}
.container {
  display: flex;
}
.imageBox {
  float: right;
  padding: 20px;
}

h1,
h2,
h3 {
  color: rgb(15, 14, 15);
  font-style: italic;
  text-transform: uppercase;
  text-decoration: underline;
}
h1 {
  text-decoration: none;
}
.content {
  max-width: 1600px;
  margin: auto;
}
footer {
  padding: 20px;
}

@media (max-width: 638px) {
  .container {
    flex-direction: column;
  }
  .column1 {
    flex-direction: column;
  }
  .column2 {
    flex-direction: column;
  }
  .column3 {
    flex-direction: column;
  }
  .city,
  .image {
    flex-direction: column;
  }
}
